body{
	margin-top: 1em;
	background: #C6FFDD;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #f7797d, #FBD786, #C6FFDD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#soundboard-container {
	padding: 10px;
}

.play-btn{
	width: 100%;
	background-image: linear-gradient(to right, #FF512F 0%, #DD2476  51%, #FF512F  100%);
	margin: 10px;
	padding: 15px 45px;
	text-align: center;
	text-transform: uppercase;
	transition: 0.5s;
	background-size: 200% auto;
	color: white;            
	box-shadow: 0 0 20px #eee;
	border-radius: 10px;
	display: block;
}

.play-btn:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }

 .btn-text {
	overflow: hidden;
	text-overflow: ellipsis;
 }

h1 {
	text-align: center;
	margin-bottom: 3rem;
}
